/* Configurator reserves the following prefixes for its element IDs and class names:
 * "cf-", "cfs-", "cft-"
 */

#cf-root { font-family: Ubuntu, Arial, Helvetica, sans-serif; font-weight: 100; }

#cf-root address { float: right; text-align: right; opacity: 0.5; font-size: smaller; }
#cf-root form { display: block; margin-top: 5mm; background-color: #d3d7cf; color: black; padding: 5mm; }
#cf-root textarea { width: 100%; height: 18em; background-color: #2e3436; color: #73d216; font-family: monospace; }
#cf-root samp { font-family: inherit; font-weight: 400; }
.cf-hidden { display: none; }
.cf-warning { background-color: #f78787; color: #000000; border-radius: 5mm; }

#cf-targets>div { display: inline-block; vertical-align: top; }
#cf-targets>#cf-teck {
	padding: 0.25em; background-color: #2e3436; color: #f7f8f5;
	border-width: 0.125em; border-style: solid;
	border-color: #555753 #000000 #000000 #555753;
	border-radius: 0.2em;
}
#cf-targets>#cf-notes { display: inline-block; width: 20em; padding: 0em 1em; }
#cf-layer-selector { margin-bottom: 1em; text-align: left; font-size: 0.3em; }
#cf-primary { float: left; }
#cf-secondary { float: right; }
#cf-model { display: block; margin-left: auto; margin-right: auto; }
#cft-keys { clear: both; position: relative; width: 16.5em; height: 8em; }
#cft-keys kbd {
	font-size: inherit;
	box-sizing: border-box; -moz-box-sizing: border-box; padding: 0em;
	width: 0.97em; height: 0.97em; text-align: left; position: relative; 
	background-color: #2e3436; color: #f7f8f5;
	background: linear-gradient(to right, rgba(85,87,83,0) 0%, rgba(85,87,83,0.3) 100%);
	border-style: solid;
	border-width: 0.06em;
	border-color: #555753 #000000 #000000 #555753;
	border-radius: 0.1em;
	position: absolute;
}
#cft-keys kbd:hover { background-color: #555753; background: linear-gradient(to right, rgba(136,138,133,0.3) 0%, rgba(136,138,133,0.6) 100%); }
#cft-keys kbd button,
#cft-keys kbd input {
	border: none; background: none; color: currentColor;
	font-size: 0.3em; font-weight: 100;
	display: block; vertical-align: top; overflow: hidden;
	position: absolute;
	left: 0em; top: 0em; width: 100%; height: 100%;
}
#cft-fkeys { position: absolute; left: 0.5em; top: 0em; width: 15em; height: 1em; }
#cft-main { position: absolute; left: 0em; top: 2.42em; width: 15.5em; height: 6em; }
#cft-leftside {
	position: absolute; left: 0.5em; top: 0em; width: 7em; height: 6em;
	transform: rotate(7deg); transform-origin: top right;
	-webkit-transform: rotate(7deg); -webkit-transform-origin: top right;
}
#cft-leftside button { transform: rotate(-7deg); -webkit-transform: rotate(-7deg); }
#cft-centercolumn { position: absolute; left: 7em; top: 0em; width: 2.5em; height: 5em; }
#cft-rightside {
	position: absolute; left: 9em; top: 0em; width: 7em; height: 6em;
	transform: rotate(-7deg); transform-origin: top left;
	-webkit-transform: rotate(-7deg); -webkit-transform-origin: top left;
}
#cft-rightside button { transform: rotate(7deg); -webkit-transform: rotate(7deg); }
#cf-targets #cft-apps,
#cf-targets #cft-space { background: linear-gradient(to bottom, rgba(85,87,83,0.3) 0%,rgba(85,87,83,0) 100%); }
#cf-targets #cft-apps:hover,
#cf-targets #cft-space:hover { background: linear-gradient(to bottom, rgba(136,138,133,0.6) 0%,rgba(136,138,133,0.3) 100%); }
#cft-centercolumn kbd,
#cf-targets #cft-lsh,
#cf-targets #cft-rsh,
#cf-targets #cft-lctrl,
#cf-targets #cft-rctrl,
#cf-targets.cf-207 #cft-lalt,
#cf-targets.cf-207 #cft-ralt,
#cf-targets.cf-105 #cft-lalt,
#cf-targets.cf-105 #cft-ralt,
#cf-targets.cf-105 #cft-minus,
#cf-targets.cf-105 #cft-equal { background: rgba(85,87,83,0.15); }
#cft-centercolumn kbd:hover,
#cf-targets #cft-lsh:hover,
#cf-targets #cft-rsh:hover,
#cf-targets #cft-lctrl:hover,
#cf-targets #cft-rctrl:hover,
#cf-targets.cf-207 #cft-lalt:hover,
#cf-targets.cf-207 #cft-ralt:hover,
#cf-targets.cf-105 #cft-lalt:hover,
#cf-targets.cf-105 #cft-lalt:hover,
#cf-targets.cf-105 #cft-minus:hover,
#cf-targets.cf-105 #cft-equal:hover { background: rgba(136,138,133,0.3); }

#cf-targets #cf-layer-selector { color: #d3d7cf; }
#cf-targets #cf-teck.cf-layer-1 #cft-num,
#cf-targets #cf-teck.cf-layer-4 #cft-num {
	background: radial-gradient(circle at center 75%,
		rgba(32,32,255,1) 0%,
		rgba(32,32,255,0.25) 50%,
		rgba(32,32,255,0) 100%);
}
#cf-targets #cf-teck.cf-layer-2 .cf-primary-fn,
#cf-targets #cf-teck.cf-layer-5 .cf-secondary-fn {
	background-color: #171a1b; color: #f7f8f5;
	border-color: #000000;
}
#cf-targets #cf-teck.cf-layer-2 kbd,
#cf-targets #cf-teck.cf-layer-5 kbd {
	color: #97c4f0;
}
#cf-targets.cf-207 #cft-lblank,
#cf-targets.cf-207 #cft-rblank,
#cf-targets.cf-209 #cft-minus105,
#cf-targets.cf-207 #cft-minus105,
#cf-targets.cf-105 #cft-lblank,
#cf-targets.cf-105 #cft-rblank,
#cf-targets.cf-105 #cft-euro2,
#cf-targets.cf-105 #cft-grave,
#cf-targets.cf-105 #cft-minus { display: none; }
#cf-targets.cf-207 #cft-lalt,
#cf-targets.cf-207 #cft-ralt,
#cf-targets.cf-105 #cft-lalt,
#cf-targets.cf-105 #cft-ralt,
#cf-targets.cf-105 #cft-equal { width: 1.97em; }
#cf-targets.cf-207 #cft-lalt,
#cf-targets.cf-105 #cft-lalt { left: 0em; }
#cf-targets.cf-105 #cft-equal { left: 5em; }

#cf-targets #cft-fkeys { margin-bottom: 0.5em; }

#cf-targets #cft-lsh,
#cf-targets #cft-rsh,
#cf-targets #cft-lctrl,
#cf-targets #cft-rctrl,
#cf-targets #cft-minus105,
#cf-targets #cft-apps,
#cf-targets #cft-space { width: 1.97em; }

#cft-fkeys kbd { top: 0em; }
#cft-fkeys #cft-caps,
#cft-fkeys #cft-fn,
#cft-fkeys #cft-num { top: 1em; }

#cft-esc, #cft-f1, #cft-f2, #cft-f3, #cft-f4,
#cft-f5, #cft-f6, #cft-f7, #cft-f8,
#cft-f9, #cft-f10, #cft-f11, #cft-f12, #cft-del { top: 0em; }
#cft-caps, #cft-fn, #cft-num { top: 1em; }

#cft-3, #cft-8 { top: -0.32em; }
#cft-2, #cft-4, #cft-7, #cft-9 { top: -0.16em; }
#cft-minus105, #cft-euro2, #cft-grave, #cft-1, #cft-5,
#cft-gui, #cft-6, #cft-0, #cft-minus, #cft-equal { top: 0em; }
#cft-e, #cft-i { top: 0.68em; }
#cft-w, #cft-r, #cft-u, #cft-o { top: 0.84em; }
#cft-bksl, #cft-slash, #cft-q, #cft-t,
#cft-hen, #cft-y, #cft-p, #cft-bra, #cft-ket { top: 1em; }
#cft-d, #cft-k { top: 1.68em; }
#cft-s, #cft-f, #cft-j, #cft-l { top: 1.84em; }
#cft-lsh, #cft-a, #cft-g,
#cft-tab, #cft-h, #cft-semi, #cft-rsh { top: 2em; }
#cft-c, #cft-comma { top: 2.68em; }
#cft-x, #cft-v, #cft-m, #cft-dot { top: 2.84em; }
#cft-lctrl, #cft-z, #cft-b,
#cft-bksp, #cft-n, #cft-quote, #cft-rctrl { top: 3em; }
#cft-pgup, #cft-up { top: 3.84em; }
#cft-lblank, #cft-lalt, #cft-apps,
#cft-enter, #cft-space, #cft-ralt, #cft-rblank { top: 4em; }
#cft-home, #cft-end, #cft-left, #cft-right { top: 4.34em; }
#cft-pgdn, #cft-down { top: 4.84em; }

#cft-esc { left: 0em; }
#cft-f1 { left: 1.375em; }
#cft-f2 { left: 2.375em; }
#cft-f3 { left: 3.375em; }
#cft-f4 { left: 4.375em; }
#cft-f5 { left: 5.75em; }
#cft-f6 { left: 6.75em; }
#cft-f7 { left: 7.75em; }
#cft-f8 { left: 8.75em; }
#cft-f9 { left: 10.125em; }
#cft-f10 { left: 11.125em; }
#cft-f11 { left: 12.125em; }
#cft-f12 { left: 13.125em; }
#cft-del { left: 14.5em; }
#cft-caps { left: 6.25em; }
#cft-fn { left: 7.25em; }
#cft-num { left: 8.25em; }

#cft-minus105, #cft-euro2, #cft-bksl, #cft-lsh, #cft-lctrl, #cft-lblank { left: 0em; }
#cft-grave, #cft-slash, #cft-lalt { left: 1em; }
#cft-1, #cft-q, #cft-a, #cft-z, #cft-home { left: 2em; }
#cft-2, #cft-w, #cft-s, #cft-x, #cft-pgup, #cft-pgdn { left: 3em; }
#cft-3, #cft-e, #cft-d, #cft-c, #cft-end { left: 4em; }
#cft-4, #cft-r, #cft-f, #cft-v, #cft-apps { left: 5em; }
#cft-5, #cft-t, #cft-g, #cft-b { left: 6em; }

#cf-targets #cft-gui { left: 0.5em; width: 1.47em; }
#cf-targets #cft-hen { left: 0.375em; width: 1.72em; }
#cf-targets #cft-tab { left: 0.25em; width: 1.97em; }
#cf-targets #cft-bksp { left: 0.125em; width: 2.22em; }
#cf-targets #cft-enter { left: 0em; width: 2.47em; }

#cft-6, #cft-y, #cft-h, #cft-n, #cft-space { left: 0em; }
#cft-7, #cft-u, #cft-j, #cft-m { left: 1em; }
#cft-8, #cft-i, #cft-k, #cft-comma, #cft-left { left: 2em; }
#cft-9, #cft-o, #cft-l, #cft-dot, #cft-up, #cft-down { left: 3em; }
#cft-0, #cft-p, #cft-semi, #cft-quote, #cft-right { left: 4em; }
#cft-minus, #cft-bra, #cft-rsh, #cft-rctrl, #cft-ralt { left: 5em; }
#cft-equal, #cft-ket, #cft-rblank { left: 6em; }

#cfs-f:after, #cfs-j:after, #cft-f:after, #cft-j:after, #cfs-k5:after {
	border-width: 0.03em; border-style: solid; border-color: inherit;
	content: '';
	display: block; position: absolute; 
}
#cfs-f:after, #cfs-j:after, #cft-f:after, #cft-j:after {
	left: 0.3em; right: 0.3em; bottom: 0.05em; height: 0em;
}
#cfs-k5:after {
	border-radius: 0.03em; left: 0.405em; right: 0.405em; top: 0.405em; bottom: 0.405em;
}

section.collapsible { margin-left: 1em; }
section.collapsible header { margin-left: -1em; margin-top: 0.25em; }
section.collapsible header a { font-weight: inherit; margin: 1mm 0mm;
	text-decoration: none; border-top: dotted 1px; color: #000000; }
section.collapsible header a:before { content: '▽'; margin-right: 0.5em; }
section.collapsible.collapsed header a:before { content: '▷'; }
section.collapsible.collapsed>* { display: none !important; }
section.collapsible.collapsed>header { display: block !important; }

#cf-sources {
	clear: both;
	margin-bottom: 1em; 
}

#cf-sized, #cf-kbd, #cf-keypad, #cf-terminal, #cf-lang, #cf-media-note, #cf-media, #cf-al, #cf-ac, #cf-exotic { display: none; }
.cf-ansi #cf-sized, .cf-ansi #cf-kbd,
.cf-iso #cf-sized, .cf-iso #cf-kbd,
.cf-jis #cf-sized, .cf-jis #cf-kbd,
.cf-ko #cf-sized, .cf-ko #cf-kbd,
.cf-abnt #cf-sized, .cf-abnt #cf-kbd,
.cf-keypad #cf-sized, .cf-keypad #cf-keypad, .cf-terminal #cf-terminal, .cf-lang #cf-lang,
.cf-media #cf-media-note, .cf-al #cf-media-note, .cf-ac #cf-media-note, .cf-exotic #cf-media-note,
.cf-media #cf-media, .cf-al #cf-al, .cf-ac #cf-ac, .cf-exotic #cf-exotic { display: block; }

#cf-sources.cf-iso #cfs-bksl, #cf-sources.cf-abnt #cfs-bksl, #cf-sources.cf-jis #cfs-bksl,
#cf-sources #cfs-euro1, #cf-sources #cfs-euro2,
#cf-sources #cfs-yen, #cf-sources #cfs-ro, #cf-sources #cfs-muhen, #cf-sources #cfs-hen, #cf-sources #cfs-kana,
#cf-sources #cfs-hanja, #cf-sources #cfs-hangul, #cf-sources #cfs-kcomma { display: none; }
#cf-sources.cf-iso #cfs-euro1, #cf-sources.cf-iso #cfs-euro2,
#cf-sources.cf-abnt #cfs-euro1, #cf-sources.cf-abnt #cfs-euro2,
#cf-sources.cf-jis #cfs-euro1, #cf-sources.cf-jis #cfs-yen, #cf-sources.cf-jis #cfs-ro, #cf-sources.cf-abnt #cfs-ro,
#cf-sources.cf-jis #cfs-muhen, #cf-sources.cf-jis #cfs-hen,
#cf-sources.cf-jis #cfs-kana, #cf-sources.cf-ko #cfs-hanja, #cf-sources.cf-ko #cfs-hangul, #cf-sources.cf-abnt #cfs-kcomma { display: block; }

#cf-sized {
	background-color: #f7f8f5; color: #000000;
	border-radius: 0.2em; 
	border: solid #d3d7cf;
	border-width: 0.1em 0.15em 0.15em 0.1em;
	padding: 0.25em;
}
#cf-kbd, #cf-keypad { position: relative; }
#cf-sized { width: 23em; height: 6.25em; }
.cf-keypad #cf-sized { width: 11em; height: 6em; }
.cf-row .cf-main, .cf-row .cf-nav, .cf-row .cf-keypad { display: block; position: absolute; }
.cf-main { left: 0em; width: 15em; }
.cf-nav { left: 15.5em; width: 3em; }
#cf-kbd .cf-keypad { left: 19em; width: 4em; }
.cf-row#cfs-fkeys .cf-main, .cf-row#cfs-fkeys .cf-nav, .cf-row#cfs-fkeys .cf-keypad { top: 0em; height: 1em; }
.cf-row .cf-main, .cf-row .cf-nav, .cf-row .cf-keypad { top: 1.25em; height: 5em; }

#cf-kbd kbd, #cf-keypad kbd { position: absolute; }

#cf-sources kbd {
	display: inline-block; cursor: default; cursor: -moz-grab; cursor: -webkit-grab;
	background-color: #f7f8f5; color: #000000;
	box-sizing: border-box; -moz-box-sizing: border-box;
	border-color: #d3d7cf; border-style: solid;
	border-radius: 0.33em; border-width: 0.15em 0.25em 0.25em 0.15em;
	margin: 0.125em; padding: 0.125em; min-width: 3em; min-height: 3em;
}
#cf-sources kbd:hover { border-color: #97c4f0 !important; }
#cf-sized kbd {
	width: 0.97em; height: 0.97em;
	border-radius: 0.1em;
	border-width: 0.05em 0.07em 0.07em 0.05em;
	margin: 0em; padding: 0em; min-width: 0em; min-height: 0em;
}
#cf-sized .cf-label {
	font-size: 0.3em; display: inline-block;
	position: absolute; top: 0em; left: 0em; bottom: 0em; right: 0em; overflow: hidden;
}
kbd .cf-label {
	font-family: Ubuntu, Arial, Helvetica, sans-serif;
	margin: 0em 0.125em; vertical-align: top;
}

.cf-jis #cfs-bksp, .cf-jis #cfs-lgui, .cf-jis #cfs-rgui, .cf-jis #cfs-apps,
.cf-ko #cfs-lgui, .cf-ko #cfs-rgui, .cf-ko #cfs-apps { width: 0.97em; }
kbd#cfs-kplus, kbd#cfs-kenter { height: 1.97em; }
.cf-jis #cfs-lctrl, .cf-jis #cfs-lalt, .cf-jis #cfs-ralt, .cf-jis #cfs-rctrl { width: 1.125em; }
kbd#cfs-lgui, kbd#cfs-lalt, kbd#cfs-ralt, kbd#cfs-rgui, kbd#cfs-apps { width: 1.205em; }
.cf-iso #cfs-lsh, .cf-abnt #cfs-lsh, .cf-ko #cfs-lctrl, .cf-ko #cfs-rctrl { width: 1.22em; }
kbd#cfs-muhen, kbd#cfs-hen, kbd#cfs-kana { width: 1.285em; }
kbd#cfs-enter { width: 1.22em; height: 1.97em; }
kbd#cfs-tab, .cf-ansi #cfs-bksl, .cf-ko #cfs-bksl { width: 1.47em; }
kbd#cfs-lctrl, kbd#cfs-rctrl { width: 1.5em; }
kbd#cfs-caps, .cf-jis #cfs-rsh, .cf-abnt #cfs-rsh { width: 1.72em; }
kbd#cfs-bksp, kbd#cfs-k0 { width: 1.97em; }
.cf-ansi #cfs-enter, .cf-ko #cfs-enter { height: 0.97em; }
.cf-ansi #cfs-enter, .cf-ko #cfs-enter, kbd#cfs-lsh, kbd#cfs-lsh { width: 2.22em; }
.cf-jis #cfs-space { width: 3.405em; }
.cf-ko #cfs-space { width: 5em; }
kbd#cfs-rsh { width: 2.72em; }
kbd#cfs-space { width: 5.735em; }

#cfs-fkeys kbd { top: 0em; }
.cf-main>div:first-child>kbd, .cf-nav>div:first-child>kbd, .cf-keypad>div:first-child>kbd { top: 0em; }
.cf-main>div:nth-child(2)>kbd, .cf-nav>div:nth-child(2)>kbd, .cf-keypad>div:nth-child(2)>kbd,
.cf-ansi #cfs-bksl, .cf-iso #cfs-enter, .cf-jis #cfs-enter, .cf-abnt #cfs-enter { top: 1em; }
.cf-main>div:nth-child(3)>kbd, .cf-keypad>div:nth-child(3)>kbd, .cf-jis #cfs-bksl { top: 2em; }
.cf-main>div:nth-child(4)>kbd, .cf-nav>div:nth-child(4)>kbd, .cf-keypad>div:nth-child(4)>kbd { top: 3em; }
.cf-main>div:nth-child(5)>kbd, .cf-nav>div:nth-child(5)>kbd, .cf-keypad>div:nth-child(5)>kbd { top: 4em; }

#cfs-esc, #cfs-grave, #cfs-tab, #cfs-caps, #cfs-lsh, #cfs-lctrl { left: 0em; }
#cfs-1 { left: 1em; }
.cf-jis #cfs-lgui { left: 1.155em; }
.cf-ko #cfs-lgui { left: 1.25em; }
#cfs-euro2 { left: 1.25em; }
#cfs-q { left: 1.5em; }
#cfs-lgui { left: 1.53em; }
#cfs-a { left: 1.75em; }
#cfs-z { left: 2.25em; }
#cfs-f1, #cfs-2 { left: 2em; }
.cf-jis #cfs-lalt { left: 2.155em; }
.cf-ko #cfs-lalt { left: 2.25em; }
#cfs-w { left: 2.5em; }
#cfs-s { left: 2.75em; }
#cfs-lalt { left: 2.765em; }
#cfs-f2, #cfs-3 { left: 3em; }
#cfs-x { left: 3.25em; }
#cfs-muhen { left: 3.31em; }
#cfs-hanja { left: 3.485em; }
#cfs-e { left: 3.5em; }
#cfs-d { left: 3.75em; }
#cfs-f3, #cfs-4 { left: 4em; }
#cfs-space { left: 4em; }
#cfs-c { left: 4.25em; }
.cf-ko #cfs-space { left: 4.485em; }
#cfs-r { left: 4.5em; }
.cf-jis #cfs-space { left: 4.625em; }
#cfs-f { left: 4.75em; }
#cfs-f4, #cfs-5 { left: 5em; }
#cfs-v { left: 5.25em; }
#cfs-t { left: 5.5em; }
#cfs-g { left: 5.75em; }
#cfs-6 { left: 6em; }
#cfs-b { left: 6.25em; }
#cfs-f5, #cfs-y { left: 6.5em; } 
#cfs-h { left: 6.75em; }
#cfs-7 { left: 7em; }
#cfs-n { left: 7.25em; }
#cfs-f6, #cfs-u { left: 7.5em; } 
#cfs-j { left: 7.75em; }
#cfs-8 { left: 8em; } 
#cfs-hen { left: 8.06em; }
#cfs-m { left: 8.25em; }
#cfs-f7, #cfs-i { left: 8.5em; } 
#cfs-k { left: 8.75em; }
#cfs-9 { left: 9em; } 
#cfs-comma { left: 9.25em; }
#cfs-kana { left: 9.375em; }
#cfs-f8, #cfs-o { left: 9.5em; }
#cfs-hangul { left: 9.515em; }
#cfs-l { left: 9.75em; }
#cfs-ralt { left: 9.765em; }
#cfs-0 { left: 10em; }
#cfs-dot { left: 10.25em; }
#cfs-p { left: 10.5em; }
.cf-ko #cfs-ralt { left: 10.515em; }
.cf-jis #cfs-ralt { left: 10.69em; }
#cfs-semi { left: 10.75em; }
#cfs-f9, #cfs-minus, #cfs-rgui { left: 11em; } 
#cfs-slash { left: 11.25em; }
#cfs-bra { left: 11.5em; }
#cfs-quote { left: 11.75em; }
.cf-ko #cfs-rgui { left: 11.75em; }
.cf-jis #cfs-rgui { left: 11.845em; }
#cfs-f10, #cfs-equal { left: 12em; } 
#cfs-apps { left: 12.235em; }
#cfs-ro, #cfs-rsh { left: 12.25em; }
#cfs-ket { left: 12.5em; } 
.cf-ansi #cfs-enter, .cf-ko #cfs-enter, #cfs-euro1, .cf-jis #cfs-bksl, .cf-ko #cfs-apps { left: 12.75em; }
.cf-jis #cfs-apps { left: 12.845em; }
#cfs-f11, #cfs-bksp, #cfs-yen { left: 13em; }
.cf-jis #cfs-rsh, .cf-abnt #cfs-rsh { left: 13.25em; }
#cfs-rctrl { left: 13.47em; }
#cfs-bksl { left: 13.5em; }
#cfs-enter, .cf-ko #cfs-rctrl { left: 13.75em; }
.cf-jis #cfs-rctrl { left: 13.845em; }
#cfs-f12, .cf-jis #cfs-bksp { left: 14em; }

#cfs-prtscr, #cfs-ins, #cfs-del, #cfs-left { left: 0em; }
#cfs-scroll, #cfs-home, #cfs-end, #cfs-up, #cfs-down { left: 1em; }
#cfs-pause, #cfs-pgup, #cfs-pgdn, #cfs-right { left: 2em; }

#cfs-tnum, #cfs-num, #cfs-k7, #cfs-k4, #cfs-k1, #cfs-k0 { left: 0em; }
#cfs-winpause, #cfs-kdivide, #cfs-k8, #cfs-k5, #cfs-k2 { left: 1em; }
#cfs-break, #cfs-ktimes, #cfs-k9, #cfs-k6, #cfs-k3, #cfs-kdot { left: 2em; }
#cfs-fn, #cfs-kminus, #cfs-kplus, #cfs-kcomma, #cfs-kenter { left: 3em; }
.cf-abnt #cfs-kplus { height: 0.97em; }

#cf-keypad>div:first-child>kbd { top: 0em; }
#cf-keypad>div:nth-child(2)>kbd { top: 1em; }
#cf-keypad>div:nth-child(3)>kbd { top: 2em; }
#cf-keypad>div:nth-child(4)>kbd { top: 3em; }
#cf-keypad>div:nth-child(5)>kbd { top: 4em; }
#cf-keypad>div:nth-child(6)>kbd { top: 5em; }

#cf-keypad kbd:first-child { left: 0em; }
#cf-keypad kbd:nth-child(2) { left: 1em; }
#cf-keypad kbd:nth-child(3) { left: 2em; }
#cf-keypad kbd:nth-child(4) { left: 3em; }
#cf-keypad kbd:nth-child(5) { left: 4em; }
#cf-keypad kbd:nth-child(6) { left: 5em; }
#cf-keypad kbd:nth-child(7) { left: 6em; }
#cf-keypad kbd:nth-child(8) { left: 7em; }
#cf-keypad kbd:nth-child(9) { left: 8em; }
#cf-keypad kbd:nth-child(10) { left: 9em; }
#cf-keypad kbd:nth-child(11) { left: 10em; }

#cf-sources kbd.cf-dark, #cf-media kbd, #cf-al kbd, #cf-ac kbd {
	background-color: #d3d7cf; color: #000000;
	border-color: #babdb6;
}
#cf-sources kbd.cf-red, #cf-media kbd.cf-red, #cf-al kbd.cf-red, #cf-ac kbd.cf-red {
	background-color: #fff0d7; color: #000000;
	border-color: #fcaf3e;
}
#cf-sources .cf-warn kbd.incompatible {
	background-color: #ecf0eb !important; color: #babdb6 !important;
	border-color: #babdb6 !important;
	border-width: 0.03em !important; padding-right: 0.3em;
}
